
.logo {
	background-color: black;
	color: white;
}

.image_picker_selector {
	padding: 20px;
	margin: 20px;	
	text-align: center;
}


.thumbnail img {
	width: 200px;
	height: 150px;
	border: 1px solid black;
}

.thumbnail p {
	width: 200px;
	text-align: center;
}

.mybutton {
	text-align: center;
	margin-bottom: 20px;
}

.logo .panel-body {
	margin-left: 20px;
}

.logo .panel-body h4 {
	color: silver;
}

.logo h2, .logo h4 {
	margin-top: 0;
}

.logo h2 {
	margin-bottom: 0;
}

.minglesset img {
	width: 200px;
	height: 150px;
	border: 1px solid black;
	padding: 5px;
	margin: 10px;
}

h2 {
	margin-top: 10px;
}

h4 .rightie {
	display: inline;
}

.rightie {
	text-align: right;
	display: inline;
}

.breather {
	margin-top: 10px;
	display: block;
}

.flash-message {
	color: red;
	text-align: center;
	margin-bottom: 10px;
}

.rightlogo {
	display: inline;
	text-align: right;
}

.rightlogo span {
	display: inline;
	text-align: right;
}

.rightlogo a {
	display: inline;
	text-align: right;
}